
<nav class="navbar navbar-expand-lg  "style="background-color: #e3f2fd;" >
  <div class="container-fluid">
    <a class="navbar-brand navlogo" href="/index.html"><i class="fa-solid fa-snowflake text-info fa-2x"></i><span class="fs-1 navIngredient ">IceMart</span> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarNavDropdown">
      <ul class="navbar-nav gap-4 fs-5">
        <li class="nav-item mt-2">
          <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="/pages/shop/catalog.html">Products</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="/pages/support/customerservice.html">Help Center</a>
        </li>
        <li class="nav-item mt-2">
          <a class="nav-link" href="/pages/cart/cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </li> 
        <li class="nav-item mt-2">
          <a class="nav-link navAdminPanel" href="/pages/admin/admin-panel.html" id="navAdminPanel">AdminPanel</a>
        </li>
        </li> <li class="nav-item mt-2">
          <a class="nav-link navSellerDashboard" href="/pages/seller/seller-dashboard.html" id="navSellerDashboard">Sellers Dashboard</a>
        </li>
        <li class="nav-item mt-2">
          <a href="/pages/profile/profile.html" class="text-decoration-none text-dark ">
            <span id="navUserName"></span><br>
          </a>
        </li>
                <li class="nav-item">
            <button class="homeSignIn mt-3 " id="navLogin"><a href="/pages/auth/login.html" class="text-decoration-none "><i class="bi bi-door-closed-fill"></i></i></i>login</a></button>
            <button class="homeLogOut mt-3" id="navLogout"><a href="#" class="text-decoration-none "><i class="bi bi-door-open-fill"></i> logOut</a></button>

                </li>
      </ul>
    </div>
  </div>
</nav>


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">IceMart</a>

        <a href="/pages/shop/home.html">Home</a>
        <a href="/pages/shop/catalog.html">Catalog</a>
        <a href="/pages/cart/cart.html">Cart</a>
        <a href="/pages/auth/login.html">Login</a>-->

        <!-- Role-specific links
        <a id="seller-link" href="/pages/seller/seller-dashboard.html" style="display:none;">Seller Dashboard</a>
        <a id="admin-link" href="/pages/admin/admin-panel.html" style="display:none;">Admin Panel</a>
    </div>
</nav> -->