*{
font-family: 'Orbitron', sans-serif;
}
.catalogfirstAnkers{
    margin-left: 50px;    

}
.catalogContainer{
    display: flex;
    overflow: hidden;
}
.catalogFilters{
    width:20vw;
    height: 100vh;
    border: 2px solid black ;
    min-width: 200px;
}
.catalogSearchContainer{
    text-align: center;
    
}
.catalogSearchBar{
    width: 50vw;
    height: 5vh;
}
.catalogSearchBar:hover{
    border: 2px solid rgb(151, 143, 143);
    border-radius: 5px;
}
.catalogFiltersWrapper{
    text-align: center;
    margin-left: 10px;
        font-family: 'Montserrat', sans-serif;

}

.catalogCheckBoxContainer{
    
    display: flex;
    align-items: center;
}
.catalogProductCard{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border:1px solid black;
    margin: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    
}
.catalogProductCard:hover{
    transform: scale(1.1);
    background: rgb(192, 187, 187);
}

.catalogProductDetails{
    width: 220px;
}
.catalogproductImage{
    height: 170px;
    width: 170px;
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 5px;
}
.catalogProducts{
    gap: 20px;
    padding: 20px;

}
.catalogPagination{
    text-align: center;
    
}
.catalogPaginationButtons{
    text-align: center;
    padding: 8px;
    margin: 1px ;
    width:30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    border-style: groove;
}
.catalogPaginationButtons.active{
    background-color: blue;
    color:white;
    font-weight: bold;
}
.catalogPaginationButtons:hover {
    background: #f0f0f0;
}




@media (orientation: portrait) {
    
    .catalogFilters{
        display: none;
    }
    .catalogProducts{
        width: 100%;
    }
}
