*{
/*font-family: 'Orbitron', sans-serif;*/
}
.catalogfirstAnkers{
    margin-left: 50px;    

}
.catalogContainer{
    display: flex;
    overflow: hidden;
}
.catalogFilters{
    width:50%;
    height: 100%;
    border:1px solid rgb(194, 194, 194);
    border-radius: 5px;
    box-shadow: 2px 2px  rgb(194, 194, 194) ;
    
}
.catalogSearchContainer{
    text-align: center;
    
}
.catalogSearchBar{
    width: 50vw;
    height: 5vh;
}
.catalogSearchBar:hover{
    border: 2px solid rgb(151, 143, 143);
    border-radius: 5px;
}
.catalogFiltersWrapper{
    text-align: center;
    margin-left: 10px;
        font-family: 'Montserrat', sans-serif;

}

.catalogCheckBoxContainer{
    
    display: flex;
    align-items: center;
}
.catalogProductCard{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border:1px solid rgb(194, 194, 194);
    margin: 5px;
    box-sizing: border-box;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgb(150, 228, 231), inset -2px -2px 2px rgb(140, 226, 239) , inset 2px 2px 2px rgb(168, 223, 224);
    
}
.catalogProductCard:hover{
    transform: scale(1.1);
    background: rgb(246, 242, 242);

}

.catalogProductDetails{
    width: 220px;
}
.catalogproductImage{
    height: 200px;
    width: 180px;
    object-fit: cover;
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin-top: 30px;
}
.catalogProducts{
    gap: 20px;
    padding: 20px;

}
.catalogPagination{
    text-align: center;
    
}
.catalogPaginationButtons{
    text-align: center;
    padding: 8px;
    margin: 1px ;
    width:30px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid black;
    border-style: groove;
}
.catalogPaginationButtons.active{
    background-color: blue;
    color:white;
    font-weight: bold;
}
.catalogPaginationButtons:hover {
    background: #f0f0f0;
}




@media (orientation: portrait) {
    
    .catalogFilters{
        display: none;
    }
    .catalogProducts{
        width: 100%;
    }
}
.price-inputs{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.BrandCheckWrapper{
    padding:10px;
}
.catalogSortBar{
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 30px;
}