.service-card {
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

.faq-section {
    margin-top: 60px;
    margin-bottom: 60px;
}

.color-btn{

    background: linear-gradient( to right,

        #9ec9ee,
        #a483cf
    );
}

.cons{
       
    box-shadow: inset 0 0 15px #bbd6ef,
    inset 0 0 15px #bbd6ef;

}
.color-text{

    color: rgb(30, 47, 157);
}